<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form (ngSubmit)="saveProfile(profileForm)" [formGroup]="profileForm(profileForm.value)" autocomplete="off"
          novalidate>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input class="form-control" formControlName="firstName" id="firstName" placeholder="First Name..." type="text"/>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input class="form-control" formControlName="lastName" id="lastName" placeholder="Last Name..." type="text"/>
      </div>

      <button class="btn btn-primary" type="submit">Save</button>
      <button (click)="cancel()" class="btn btn-default" type="button">Cancel</button>
    </form>
  </div>
</div>
